.highlight-box {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
}
.profile-img {
    width: 60px;
    height: 60px;
    background: #dcdcdc;
    border-radius: 50%;
}
.highlight-img {
    width: 180px;
    height: 150px;
    background: #dcdcdc;
    border-radius: 8px;
}