.navbar {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 120px;
    cursor: pointer;
}


.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: green;
}


.btn-outline {
    padding: 8px 18px;
    border: 2px solid #000;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    transition: 0.3s ease;
}

.btn-outline:hover {
    background: #000;
    color: #fff;
}


@media (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
